
{

 ws
 [* [or \r \n \t \space] :skip? true]

 comma
 [\, :skip? true]

 colon
 [\: :skip? true]

 <arr ["[" :skip? true]
 arr> ["]" :skip? true]

 <obj ["{" :skip? true]
 obj> ["}" :skip? true]

 quote [\" :skip? true]

 json/true
 ["true" :return true]

 json/false
 ["false" :return true]

 json/null
 ["null" :return nil]

 json/json
 [or
  json/object
  json/array
  json/string
  json/number
  json/true
  json/false
  json/null]

 json/array
 [or
  [> <arr ws arr> :return []]
  [> <arr [join comma json/json] arr>]]

 json/object
 [or
  [> <obj ws obj> :return {}]
  [> <obj [join comma object/keyval] obj>]]

 object/keyval
 [> json/string colon json/json]

 json/string
 [> quote [* string/char] quote]

 string/char
 [or
  [range [\u0020 \uffff] - \" \\]
  string/escaped]

 string/escaped
 [or
  ["\\n"  :return \n]
  ["\\r"  :return \r]
  ["\\t"  :return \t]]

 }
